@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  animation-delay: 0ms;
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-in both;
}

 






.text-shadow-lg {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
